<?xml version='1.0' encoding='utf-8'?>
<widget id="KristianTingler.fonds2020" version="0.1.0">
  <name>Fonds 2020</name>
  <description>
    Example Tabris.js App
  </description>
  <author email="Kristian.Tingler@outlook.com">
    Kristian Tingler
  </author>
  <preference name="EnableDeveloperConsole" value="$IS_DEBUG" />
</widget>
